.card-container {
  margin: 15px;
  font-size: 16px;
  height: 100%;
  position: relative;
}

.path-divider {
  font-size: 16px;
  /* line-height: 26px; */
  color: #586069;
  margin: 0 3px;
}

.project-trend {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.card-description a {
  font-weight: 500;
  font-size: 16px;
}

.card-footer {
  position: absolute;
  bottom: 18px;
  right: 0;
  font-size: 11px;
  color: #888;
}