.chart-container {
  border: 1px solid #d1d5da;
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
}

.svg-container {
  height: 270px;
  width: 100%;
}


.chart-container-header {
  display: block;
  padding: 13px 10px 14px;
  margin: 0;
  font-size: 16px;
  line-height: 17px;
  background-color: #f6f8fa;
  border-bottom: 1px solid rgba(27,31,35,.15);
  border-radius: 3px 3px 0 0;
}

.location-description {
  position: absolute;
  right: 3px;
  font-size: 12px;
  color: #888;
}
