.repo-container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 8px;
}

.repo-header {
  width: 100vw;
  background-color: #fafbfc;
  border-bottom: 1px solid #e1e4e8;
  position: relative;
}

.repo-title {
  padding-top: 10px;
  padding-bottom: 50px;
  font-size: 22px;
}

.repo-title a:hover {
  text-decoration: underline;
}

.repo-nav {
  position: absolute;
  bottom: -1px;
}

.repo-nav a {
  color: #24292e;
  float: left;
  padding: 7px 15px 8px;
  color: #586069;
  white-space: nowrap;
  border-radius: 3px 3px 0 0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 3px solid transparent;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.repo-nav .selected {
  background-color: #fff;
  border-left: 1px solid rgb(225, 228, 232);
  border-right: 1px solid rgb(225, 228, 232);
  border-top: 3px solid #e36209;
  border-bottom: 1px solid white;
}

.dates-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px 0;
  font-weight: 400;
  font-size: 12px;
  color: #888
}

.dates-container p {
  margin: 0;
  padding: 2px 0;
}

.repo-ref-paths-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.one-ref-path {
  width: 300px;
  max-width: 430px;
  flex-grow: 100;
  flex-shrink: 0;
  flex-basis: 1;
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  margin-bottom: 30px;
}

table {
  width: 100%;
  color: rgb(88, 96, 105);
  border-collapse: collapse;
  font-size: 14px;
}

thead {
  background-color: rgb(246, 248, 250);
}

tr:nth-child(even){background-color: rgba(246, 248, 250, 0.4);}

td, th {
  padding: 8px;
  text-align: left;
}

td {
  word-break: break-word;
}

tr {
  border-bottom: 1px solid #ddd;
}

td a:hover {
  text-decoration: underline;
}