.user-title {
  margin-left: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 25px;
}

.user-link {
  font-weight: 500;
}

.user-github-link {
  font-size: 20px;
  font-weight: 500;
  margin: 3px;
}
