header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  font-size: 15px;
  line-height: 1.5;
  color: hsla(0,0%,100%,.7);
  background-color: #24292e;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-link {
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}

.header-link:hover {
  text-decoration: none; 
  color: #bbb;
}

a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  padding-top: 8px;
  right: 0;
  background-color: #ffffff00;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  background-color: #f9f9f9;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #0366d6;
  color: white;
}

.dropdown-content hr {
  margin: 0;
  height: 0;
  overflow: hidden;
  background-color: #f9f9f9;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
